<%- include('partials/header'); -%>
<div class="change-form">
  <form class="card" method="post" action="/users/changePassword">
    <h3>Change Password</h3>

    <label for="name">Username</label>
    <input
      type="text"
      id="name"
      name="userName"
      pattern="[a-zA-Z0-9]+"
      value="<%= user%>"
      required
    />

    <% if(userName){ %>
    <div class="email error"><%= userName %></div>
    <%}%>

    <label for="password">Old Password</label>
    <input type="password" id="password" name="password" required />

    <% if(password){ %>
    <div class="password error"><%= password %></div>
    <%}%>

    <label for="newPassword">New Password</label>
    <input
      type="password"
      id="password"
      name="newPassword"
      minlength="4"
      required
    />

    <% if(newPassword){ %>
    <div class="password error"><%= newPassword %></div>
    <%}%>

    <button class="green btn" type="submit">Confirm</button>
  </form>
</div>

<%- include('partials/footer'); -%>
